*{
    padding: 0;
    margin: 0;
}

.uniName{
    color: white;
    padding: 30px;
}

.header{
    background-color: orange;
    text-align: center;
}

.datadisplay{
    text-align: center;
    padding: 10px;
}

.mainsec{
    width: 100%;
}

.unigallery{
    margin: 1% 10%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.unigallery img{
    width: 100%;
}

.contactForm{
    text-align: center;
    margin: 20px;
}

.contactForm input{
    margin: 5px;
    padding: 5px;
}

.footer{
    text-align: center;
    padding: 15px;
    background-color: #eee;
}

.footer a{
    margin: 0 10px;
    text-decoration: none;
}